[submodule "ext/shl"]
	path = ext/shl
	url = https://github.com/daemontsun/shl
[submodule "ext/better-cmake"]
	path = ext/better-cmake
	url = https://github.com/daemontsun/better-cmake
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/fs"]
	path = ext/fs
	url = https://github.com/daemontsun/fs
